<div class="bg-primary text-white shadow-sm">
  <div class="md:w-2/3 w-full mx-auto">
    <div class="flex items-center justify-between px-4 h-full">
      <div class="w-full py-3">
        <%= link_to "Money Unicorn", root_path, class: "text-xl" %>
        <% if authenticated? %>
          <ul class="menu menu-horizontal px-10!">
            <li><%= link_to "Youtube", dashboard_youtube_channels_path %></li>
            <li><%= link_to "DaisyUI", "https://v5.daisyui.com/docs/v5-beta/", target: "_blank" %></li>
            <li><%= link_to "Icons", "https://heroicons.com/", target: "_blank" %></li>
            <li><%= link_to "GH chinois", "https://github.com/harry0703/MoneyPrinterTurbo", target: "_blank" %></li>
            <li><%= link_to "GH francais", "https://github.com/FujiwaraChoki/MoneyPrinterV2", target: "_blank" %></li>
          </ul>
        <% end %>
      </div>
      <% if authenticated? %>
        <div class="flex items-center justify-end">
          <%= link_to session_url, method: :delete, class: "btn btn-error btn-link text-error" do %>
            Se déconnecter
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
